[submodule "fredzamoabg/product-attribute"]
	path = fredzamoabg/product-attribute
	url = git@github.com:fredzamoabg/product-attribute.git
	branch = 14.0-mig-product_supplierinfo_for_customer

[submodule "OCA/credit-control"]
	path = OCA/credit-control
	url = git@github.com:OCA/credit-control.git
	branch = 14.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 14.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 14.0
